# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
*.env

# Jupyter Notebooks
.ipynb_checkpoints

# Flask
instance/
*.db
*.sqlite3

# TensorFlow
tensorflow_model/
model.h5
*.tflite

# IDEs
.vscode/
.idea/
*.swp

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Dataset
Dataset/

# Configuration files
config.yaml
*.json
